rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /tasks/{taskId} {
      allow create: if isOwner(request.resource.data.userId);
      allow read, delete: if isOwner(resource.data.userId);
      allow update: if isOwner(resource.data.userId) &&
        request.resource.data.userId == resource.data.userId;
    }

    match /projects/{projectId} {
      allow create: if isOwner(request.resource.data.userId);
      allow read, delete: if isOwner(resource.data.userId);
      allow update: if isOwner(resource.data.userId) &&
        request.resource.data.userId == resource.data.userId;
    }

    match /labels/{labelId} {
      allow create: if isOwner(request.resource.data.userId);
      allow read, delete: if isOwner(resource.data.userId);
      allow update: if isOwner(resource.data.userId) &&
        request.resource.data.userId == resource.data.userId;
    }

    match /sections/{sectionId} {
      allow create: if isOwner(request.resource.data.userId);
      allow read, delete: if isOwner(resource.data.userId);
      allow update: if isOwner(resource.data.userId) &&
        request.resource.data.userId == resource.data.userId;
    }

    match /savedFilters/{filterId} {
      allow create: if isOwner(request.resource.data.userId);
      allow read, delete: if isOwner(resource.data.userId);
      allow update: if isOwner(resource.data.userId) &&
        request.resource.data.userId == resource.data.userId;
    }

    match /mindmaps/{mindmapId} {
      allow create: if isOwner(request.resource.data.userId);
      allow read, delete: if isOwner(resource.data.userId);
      allow update: if isOwner(resource.data.userId) &&
        request.resource.data.userId == resource.data.userId;
    }

    match /mindmapNodes/{nodeId} {
      allow create: if isOwner(request.resource.data.userId);
      allow read, delete: if isOwner(resource.data.userId);
      allow update: if isOwner(resource.data.userId) &&
        request.resource.data.userId == resource.data.userId;
    }
  }
}
